.button-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: calc(10% + 1rem);
  left: 1rem;
}

.button-container > button {
  border-radius: 0;
  width: 100%;
}

.button-container > button:not(:last-child) {
  border-bottom: none;
}

.dialogue-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 60%;
  height: 20%;
}

.description-container {
  display: flex;
  flex-direction: column;
  border: 0.1em solid #ffffff;
  padding: 0.5em 1em;
  gap: 1em;
  position: absolute;
  width: 35%;
  height: 80%;
  top: 10%;
  right: 1%;
  background-color: #7e7e7e3e;
  z-index: 1;
}

.description-container img {
  flex-grow: 1; /* Image will grow to fill remaining height */
  height: 0; /* Required to make flex-grow work correctly */
  width: auto; /* Shrinks width to maintain aspect ratio */
  max-height: 100%; /* Image can't exceed the container's height */
  object-fit: contain; /* Maintain aspect ratio */
  max-width: 100%; /* Image can't exceed the container's width */
  min-height: 5rem;
}
