.embed-interact {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.embed-interact > img {
  width: 50%;
}
