.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 20, 38);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title {
  position:absolute;
  width: 100%;
  text-align: center;
  top: 5%;
  font-size: 2rem;
  font-weight: bold;
}
.text {
  position: absolute;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  top: 15%;
  font-size: 1.2rem;
}

.image-container {
  position: absolute;
  top: 33%;
  width: 1000px;
  overflow-y: hidden;
  overflow-x: visible;
  margin-left: 50px;
}