.dialogue-box {
  display: flex;
  gap: 1.5em;
  width: 100%;
  height: 100%;
}

.dialogue-box img {
  width: auto;
  height: 100%;
  object-fit: contain;
  border: 1px solid white;
}

.dialogue-box > div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

.character-name {
  border: 1px solid white;
  min-width: 20%;
  width: fit-content;
  padding: 0.5em;
  text-align: center;
}

.dialogue-text {
  flex-grow: 1;
  padding: 0.5em;
  border: 1px solid white;
  position: relative;
}

.dialogue-text > span:first-child {
  position: absolute;
}

.dialogue-text > span:last-child {
  visibility: hidden;
}
